<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置属性 -->
    <properties>
        <property name="username" value="root"></property>
    </properties>

    <!--全局配置信息-->
    <settings>
        <setting name="cacheEnabled" value="true"></setting>
    </settings>


    <!-- 配置别名 -->
    <typeAliases>
        <typeAlias type="com.mybatis.domain.Blog" alias="Blog"></typeAlias>
    </typeAliases>

    <environments default="development">
        <environment id="development">
          <!-- 配置事务管理器类型 -->
          <transactionManager type="JDBC"/>
          <dataSource type="POOLED">
            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
            <property name="username" value="root"/>
            <property name="password" value="root"/>
              <!--<property name="password" value="123456"/>-->
          </dataSource>
        </environment>
    </environments>
    
    <!--<objectFactory type=""></objectFactory>-->

    <!--<plugins>
        <plugin interceptor="com.mybatis.plugins.TestPlugins">
            <property name="" value=""/>
        </plugin>
    </plugins>-->

    <databaseIdProvider type="DB_VENDOR">
        <property name="Oracle" value="oracle"/>
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="mapper/BlogMapper.xml"/>
    </mappers>


</configuration>